[submodule "dependencies/membox"]
	path = dependencies/membox
	url = https://github.com/THU-DSP-LAB/membox.git
[submodule "dependencies/ramulator2"]
	path = dependencies/ramulator2
	url = https://github.com/THU-DSP-LAB/ramulator2.git
